@font-face {
    font-family: 'bebas_neuelight';
    src: url('fonts/bebasneue/bebasneue_light-webfont.eot');
    src: url('fonts/bebasneue/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue/bebasneue_light-webfont.woff') format('woff'),
         url('fonts/bebasneue/bebasneue_light-webfont.ttf') format('truetype'),
         url('fonts/bebasneue/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue/BebasNeue-webfont.eot');
    src: url('fonts/bebasneue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('fonts/bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuethin';
    src: url('fonts/bebasneue/bebasneue_thin-webfont.eot');
    src: url('fonts/bebasneue/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue/bebasneue_thin-webfont.woff') format('woff'),
         url('fonts/bebasneue/bebasneue_thin-webfont.ttf') format('truetype'),
         url('fonts/bebasneue/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebook';
    src: url('fonts/bebasneue/bebasneue_book-webfont.eot');
    src: url('fonts/bebasneue/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue/bebasneue_book-webfont.woff') format('woff'),
         url('fonts/bebasneue/bebasneue_book-webfont.ttf') format('truetype'),
         url('fonts/bebasneue/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}